h4,
h1 {
  padding: 0px 20px;
}

h1 {
  text-align: center;
}

span {
  margin: 0 5px;
}
.pagination {
  text-align: center;
  position: sticky;
  bottom: 20px;
  left: 0;
  right: 0;

  cursor: pointer;
}

.active {
  font-weight: bolder;
}
